.FeatureBox
{
    background-color: rgba(201, 196, 196, 0.323);
    border-radius: 30px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 35vw;
    padding: 2vw;
    overflow: hidden;
    margin-bottom: 30px;
}

.Head
{
    padding: 200px;
}

.FeatureBox img{
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    position: relative;
    bottom: -60px;
    transition: bottom 0.5s ease-in-out;
    margin-top: -2vw;
}

.FeatureBox img:hover
{
    bottom: -80px;

}